<h3>Title: <%= @book.title %></h3>
<h3>Author: <%= @book.author %></h3>
<h3>Year Published: <%= @book.year_published %></h3>

<h3>Description:</h3>
<p><%= @book.description %></p>

<h5>Something not right? <%= link_to "Edit details here", edit_book_path(@book) %></h5>
<%= button_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?"} %>


